.container{
  margin-right: 0;
  margin-left: 5%;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #4CAF50;
  border-radius: 15px;
  linearGradient: linear-gradient(#4CAF50, white);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}


.options-selector{
  margin-top: 10px;
}

img{
  display: inline-block;
  width: 300px;
  height: 100%;
  object-fit: cover;
}


.background_blackjack{
  height: 500px;
  width: 500px;
  object-fit: contain;
  margin-left: 325px;
  margin-top: 130px;

}

.title{
  color: white;
}

/* Ensure the content fits the entire viewport */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: green;
  overflow: hidden; /* Prevents overflow issues */
}

/* Common button styles */
button {
  font-size: 18px;
  padding: 10px 15px;
  margin: 5px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Button hover and active states */
button:hover {
  background-color: #fd3d3d;
}

button:active {
  background-color: #fd6565;
}
