/* App.css or any main CSS file */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('ArrayFiles/images/arrayBackgroundImage.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
